
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-right: 1px solid #2b2b2b;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}


.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 3px;
}

.sidebar-header {
  padding: 20px;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}


.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #ccc;
  font-size: 15px;
  padding: 8px 0;
  transition: 0.2s;
}

.nav-item:hover {
  color: white;
}

.icon {
  font-size: 18px;
}


.recent-section {
  margin-top: auto;
  padding: 20px;
  border-top: 1px solid #2b2b2b;
}

.recent-section h4 {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 10px;
}

.recent-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.recent-item img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  object-fit: cover;
}

.recent-item p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.recent-item span {
  font-size: 12px;
  color: #888;
}


.nav-item.active {
  color: #00bcd4;
  font-weight: bold;
}
