
body {
  background-color: whitesmoke;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.container {
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}


.container.dark {
  background-color: #121212;
  color: white;
}


.buttonContainer {
  text-align: right;
  padding: 10px 20px;
}

.toggleButton {
  background-color: #007bff;
  border: none;
  padding: 8px 16px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.toggleButton:hover {
  background-color: #0056b3;
}


nav {
  padding: 16px;
  border-bottom: 1px solid #ccc;
}

nav a {
  margin-right: 16px;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
